<a href="https://colab.research.google.com/github/Raph95c/deep-learning-challenge-/blob/main/_Starter_Code_Optimize_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [23]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/drive/MyDrive/module 21/Starter_Code-8/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [25]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [26]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = counts.loc[counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [28]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = class_counts.loc[class_counts > 1]
classifications_to_replace

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [30]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = class_counts.loc[class_counts < 1000].index
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [31]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_dummies = pd.get_dummies(application_df)

In [32]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df_dummies['IS_SUCCESSFUL']
X = application_df_dummies.drop(columns=['IS_SUCCESSFUL'], inplace=False)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5, random_state=1)
X.shape

(34299, 43)

In [33]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:

pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.0-py3-none-any.whl (167 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 167.3/167.3 KB 4.3 MB/s eta 0:00:00
Requirement already satisfied: tensorflow>=2.0 in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (2.11.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (23.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.51.3)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (4.5.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (3.8.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.2)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (15.0.6.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (3.19.6)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.15.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (63.4.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (3.3.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.22.4)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.2.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.4.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.11.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (23.3.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (0.31.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (2.2.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.15.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow>=2.0->keras-tuner) (1.6.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython->keras-tuner) (4.4.2)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 34.9 MB/s eta 0:00:00
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.9/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython->keras-tuner) (5.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.9/dist-packages (from astunparse>=1.6.0->tensorflow>=2.0->keras-tuner) (0.40.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.6)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.2.3)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.4.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.16.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.6.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.9/dist-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (6.0.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (2.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow>=2.0->keras-tuner) (3.2.2)
Installing collected packages: kt-legacy, jedi, keras-tuner
Successfully installed jedi-0.18.2 keras-tuner-1.3.0 kt-legacy-1.0.4

In [46]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value= 90,
        step=5), activation=activation, input_dim=input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=30,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [47]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

Trial 179 Complete [00h 02m 24s]
val_accuracy: 0.7284548282623291

Best val_accuracy So Far: 0.7300291657447815
Total elapsed time: 01h 09m 02s

Search: Running Trial #180

Value             |Best Value So Far |Hyperparameter
tanh              |sigmoid           |activation
26                |36                |first_units
3                 |3                 |num_layers
26                |11                |units_0
11                |16                |units_1
11                |16                |units_2
11                |21                |units_3
11                |11                |units_4
50                |17                |tuner/epochs
0                 |6                 |tuner/initial_epoch
0                 |2                 |tuner/bracket
0                 |1                 |tuner/round

Epoch 1/50
536/536 [==============================] - 3s 3ms/step - loss: 0.5774 - accuracy: 0.7115 - val_loss: 0.5673 - val_accuracy: 0.7252
Epoch 2/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7318 - val_loss: 0.5616 - val_accuracy: 0.7245
Epoch 3/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5520 - accuracy: 0.7332 - val_loss: 0.5605 - val_accuracy: 0.7249
Epoch 4/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7326 - val_loss: 0.5589 - val_accuracy: 0.7241
Epoch 5/50
536/536 [==============================] - 3s 5ms/step - loss: 0.5483 - accuracy: 0.7340 - val_loss: 0.5577 - val_accuracy: 0.7251
Epoch 6/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7349 - val_loss: 0.5579 - val_accuracy: 0.7257
Epoch 7/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7337 - val_loss: 0.5579 - val_accuracy: 0.7253
Epoch 8/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7360 - val_loss: 0.5559 - val_accuracy: 0.7254
Epoch 9/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7361 - val_loss: 0.5578 - val_accuracy: 0.7285
Epoch 10/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7370 - val_loss: 0.5559 - val_accuracy: 0.7261
Epoch 11/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7371 - val_loss: 0.5574 - val_accuracy: 0.7244
Epoch 12/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5420 - accuracy: 0.7379 - val_loss: 0.5560 - val_accuracy: 0.7257
Epoch 13/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7372 - val_loss: 0.5577 - val_accuracy: 0.7224
Epoch 14/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7383 - val_loss: 0.5585 - val_accuracy: 0.7241
Epoch 15/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7386 - val_loss: 0.5569 - val_accuracy: 0.7257
Epoch 16/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7381 - val_loss: 0.5572 - val_accuracy: 0.7236
Epoch 17/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7384 - val_loss: 0.5551 - val_accuracy: 0.7258
Epoch 18/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7399 - val_loss: 0.5565 - val_accuracy: 0.7250
Epoch 19/50
536/536 [==============================] - 2s 5ms/step - loss: 0.5393 - accuracy: 0.7378 - val_loss: 0.5577 - val_accuracy: 0.7271
Epoch 20/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7396 - val_loss: 0.5553 - val_accuracy: 0.7259
Epoch 21/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7394 - val_loss: 0.5568 - val_accuracy: 0.7246
Epoch 22/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7396 - val_loss: 0.5562 - val_accuracy: 0.7269
Epoch 23/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5382 - accuracy: 0.7418 - val_loss: 0.5555 - val_accuracy: 0.7271
Epoch 24/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7392 - val_loss: 0.5561 - val_accuracy: 0.7266
Epoch 25/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7403 - val_loss: 0.5551 - val_accuracy: 0.7280
Epoch 26/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5374 - accuracy: 0.7414 - val_loss: 0.5562 - val_accuracy: 0.7254
Epoch 27/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7395 - val_loss: 0.5560 - val_accuracy: 0.7268
Epoch 28/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7397 - val_loss: 0.5568 - val_accuracy: 0.7275
Epoch 29/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7399 - val_loss: 0.5582 - val_accuracy: 0.7248
Epoch 30/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7390 - val_loss: 0.5566 - val_accuracy: 0.7256
Epoch 31/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7402 - val_loss: 0.5574 - val_accuracy: 0.7272
Epoch 32/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7409 - val_loss: 0.5580 - val_accuracy: 0.7283
Epoch 33/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5353 - accuracy: 0.7409 - val_loss: 0.5583 - val_accuracy: 0.7269
Epoch 34/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7407 - val_loss: 0.5570 - val_accuracy: 0.7253
Epoch 35/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7405 - val_loss: 0.5577 - val_accuracy: 0.7272
Epoch 36/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5350 - accuracy: 0.7407 - val_loss: 0.5570 - val_accuracy: 0.7263
Epoch 37/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7417 - val_loss: 0.5585 - val_accuracy: 0.7265
Epoch 38/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7417 - val_loss: 0.5578 - val_accuracy: 0.7273
Epoch 39/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7408 - val_loss: 0.5573 - val_accuracy: 0.7245
Epoch 40/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5345 - accuracy: 0.7416 - val_loss: 0.5577 - val_accuracy: 0.7267
Epoch 41/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5344 - accuracy: 0.7424 - val_loss: 0.5578 - val_accuracy: 0.7271
Epoch 42/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7430 - val_loss: 0.5582 - val_accuracy: 0.7273
Epoch 43/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7421 - val_loss: 0.5581 - val_accuracy: 0.7259
Epoch 44/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7433 - val_loss: 0.5583 - val_accuracy: 0.7233
Epoch 45/50
514/536 [===========================>..] - ETA: 0s - loss: 0.5342 - accuracy: 0.7428

In [50]:
# Top 3 model hyperparameters 
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
  print(param.values)

{'activation': 'sigmoid', 'first_units': 36, 'num_layers': 3, 'units_0': 11, 'units_1': 16, 'units_2': 16, 'units_3': 21, 'units_4': 11, 'tuner/epochs': 17, 'tuner/initial_epoch': 6, 'tuner/bracket': 2, 'tuner/round': 1, 'tuner/trial_id': '0058'}
{'activation': 'sigmoid', 'first_units': 71, 'num_layers': 4, 'units_0': 1, 'units_1': 11, 'units_2': 16, 'units_3': 6, 'units_4': 11, 'tuner/epochs': 17, 'tuner/initial_epoch': 6, 'tuner/bracket': 3, 'tuner/round': 2, 'tuner/trial_id': '0130'}
{'activation': 'sigmoid', 'first_units': 41, 'num_layers': 4, 'units_0': 11, 'units_1': 11, 'units_2': 1, 'units_3': 26, 'units_4': 11, 'tuner/epochs': 17, 'tuner/initial_epoch': 6, 'tuner/bracket': 3, 'tuner/round': 2, 'tuner/trial_id': '0034'}

In [51]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters()[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 36,
 'num_layers': 3,
 'units_0': 11,
 'units_1': 16,
 'units_2': 16,
 'units_3': 21,
 'units_4': 11,
 'tuner/epochs': 17,
 'tuner/initial_epoch': 6,
 'tuner/bracket': 2,
 'tuner/round': 1,
 'tuner/trial_id': '0058'}

In [52]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

536/536 - 1s - loss: 0.5641 - accuracy: 0.7300 - 1s/epoch - 2ms/step
Loss: 0.5641383528709412, Accuracy: 0.7300291657447815

In [53]:
from google.colab import files

# Export our model to HDF5 file
nn.save('../AlphabetSoupCharity.h5')