<a href="https://colab.research.google.com/github/Raph95c/deep-learning-challenge-/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [3]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/drive/MyDrive/module 21/Starter_Code-8/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = counts.loc[counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = class_counts.loc[class_counts > 1]
classifications_to_replace

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = class_counts.loc[class_counts < 1000].index
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df_dummies = pd.get_dummies(application_df)

In [12]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df_dummies['IS_SUCCESSFUL']
X = application_df_dummies.drop(columns=['IS_SUCCESSFUL'], inplace=False)

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5, random_state=1)
X.shape

(34299, 43)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=43))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 352

 dense_4 (Dense)             (None, 8)                 72

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 433
Trainable params: 433
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
536/536 [==============================] - 4s 4ms/step - loss: 0.6474 - accuracy: 0.6613
Epoch 2/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5711 - accuracy: 0.7270
Epoch 3/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5603 - accuracy: 0.7278
Epoch 4/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5566 - accuracy: 0.7300
Epoch 5/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5553 - accuracy: 0.7300
Epoch 6/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5539 - accuracy: 0.7302
Epoch 7/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5525 - accuracy: 0.7304
Epoch 8/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5518 - accuracy: 0.7327
Epoch 9/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5512 - accuracy: 0.7316
Epoch 10/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7315
Epoch 11/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5502 - accuracy: 0.7317
Epoch 12/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5499 - accuracy: 0.7325
Epoch 13/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7332
Epoch 14/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7316
Epoch 15/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7333
Epoch 16/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7307
Epoch 17/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7325
Epoch 18/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7326
Epoch 19/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7326
Epoch 20/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7337
Epoch 21/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5470 - accuracy: 0.7312
Epoch 22/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5470 - accuracy: 0.7325
Epoch 23/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5464 - accuracy: 0.7332
Epoch 24/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5467 - accuracy: 0.7311
Epoch 25/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7318
Epoch 26/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7318
Epoch 27/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7323
Epoch 28/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5460 - accuracy: 0.7337
Epoch 29/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5454 - accuracy: 0.7329
Epoch 30/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7327
Epoch 31/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7335
Epoch 32/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5452 - accuracy: 0.7343
Epoch 33/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5454 - accuracy: 0.7342
Epoch 34/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7344
Epoch 35/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7326
Epoch 36/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7333
Epoch 37/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5446 - accuracy: 0.7346
Epoch 38/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7351
Epoch 39/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 40/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7339
Epoch 41/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7353
Epoch 42/50
536/536 [==============================] - 2s 4ms/step - loss: 0.5443 - accuracy: 0.7340
Epoch 43/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7344
Epoch 44/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7351
Epoch 45/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5438 - accuracy: 0.7343
Epoch 46/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7351
Epoch 47/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7356
Epoch 48/50
536/536 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7357
Epoch 49/50
536/536 [==============================] - 1s 3ms/step - loss: 0.5440 - accuracy: 0.7357
Epoch 50/50
536/536 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7337

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

536/536 - 1s - loss: 0.5646 - accuracy: 0.7258 - 950ms/epoch - 2ms/step
Loss: 0.5645732283592224, Accuracy: 0.7258309125900269

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
print("The model is saved to HDF5 format")
nn.save('AlphabetSoupCharity_Optimization.h5')
print("The same model is recreated with same weights and optimizer")
new_nn = tf.keras.models.load_model('AlphabetSoupCharity_Optimization.h5')
print("The architecture of the model is observed")
new_nn.summary()

The model is saved to HDF5 format
The same model is recreated with same weights and optimizer
The architecture of the model is observed
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 352

 dense_4 (Dense)             (None, 8)                 72

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 433
Trainable params: 433
Non-trainable params: 0
_________________________________________________________________